.addbar {
  margin: auto;
  display: flex;
  justify-content: space-between;
  /* background-color: antiquewhite; */
  align-items: center;
  width: 85%;
}

.disbox {
  /* align-self: auto; */
  margin: auto;
  width: 99%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #fafbfc; */
  /* height: 480px; */
  flex-wrap: wrap;
}
