.cambox {
  display: flex;
  width: 250px;
  background-color: antiquewhite;
  justify-content: space-around;
  padding: 5px;
  padding-left: 0;
  margin: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  align-items: center;
}

.campic {
  height: 100px;
  width: 120px;
}

.cambtn {
  width: 55px;
  height: 26px;
  background-color: aqua;
}
